/*Responsive Media Querries for Tablet*/

/*Ipad = 768 x 1024 */
@media screen and (max-width: 1024px) and (min-width: 991px){

}

/*Ipad = 768 x 1024 */
@media screen and (max-width: 769px) and (min-width: 767px) {

}


@media screen and (max-width: 991px) and (min-width: 769px) {
    .meetTheHostInfo p{
        background-color: rgba(0,0,0,0.6);
    }
    .animalShelter {
        max-width: 281px;
        margin: auto;
        padding-top: 35px;
    }
    .houseTitle {
        margin-top: 10px;
    }
}
