/*Responsive Media Querries for Mobile*/

/*Iphone 5 = 320x568 */
@media screen and (max-width: 320px) {
    .channel-content-box .footer-signup input[type="text"] {
        width: 193px;
        border-radius: 5px 0 0 5px;
    }
}



/*Iphone 6 = 375x667 */
@media screen and (max-width: 375px) {
    .signUpForm form {
        width: 300px;
    }
    .channel-content-box .footer-signup input[type="text"] {
        width: 248px;
        border-radius: 5px 0 0 5px;
    }
}


/*Iphone 6+ = 414x736 */
@media screen and (max-width: 767px) {
    #otherZlivingShows .col-sm-4{
        margin-top: 15px;
    }
    #otherZlivingShows .col-sm-4 img{
    width: 100%
    }

    .meetTheHostInfo {
        max-width: 100%;
        text-align: left;
        margin: 0 auto;
        padding: 0 15px 50px;
    }
    #meetTheHost img{
        width: 100%;
    }
    #meetTheHost{
        background: linear-gradient(#041206, #08210c);
        height: auto;
    }
    .meetTheHostInfo p{
        background: none;)
    }
    .behindTheScenes img{
        margin: 0 auto;
    }
    .arrowRight {
        right: -18px;
        z-index: 1;
    }
    .arrowLeft {
        left: -18px;
        z-index: 1;
    }
    #signUpForm form{
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 25%;
        left: 50%;
        transform: translate(-50%,0);
    }
    #signUpForm h1{
        text-align: center;
    }
    .signUpForm{
        height: 100px;
    }
    .signUpForm form {
        width: 100%;
    }
    #animalShelter{
        height: auto;
    }
    blockquote {
        border-width: 22px 0px;
        -moz-border-image: url(../img/bg/openClose.png) 25 0 ;
        -webkit-border-image: url(../img/bg/openClose.png) 25 0 ;
        -o-border-image: url(../img/bg/openClose.png) 25 0 ;
        border-image: url(../img/bg/openClose.png) 25 0 ;
    }
    .header1 .logo,
    .header .logo{
        width: 200px;
    }
    .header .headerText{
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        bottom: 0%;
        width: 100% ;
        color: white;
        padding: 0px 20px 0px;
        font-size: 14px;
        font-weight: 300;
        line-height: 15px;
    }
    .header .headerText p a{
        color: white;
    }
    .header .headerText h5{
        color: #ffa723;
        font-size: 16px;
        font-weight: bold;
    }
    .socialHeader {
        list-style: inherit;
        margin: 20px 0;
        position: fixed;
        z-index: 1;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.6);
        padding: 10px;
        border-radius: 20px;
        width: 55px;
    }
    .socialHeader li {
         display: block;
        padding: 5px;
    }
    .socialFooter{
        display: none;
    }
    .headerText a.button {
        text-align: center;
        color: #fff;
        border-radius: 5px;
        display: inline-block;
        padding: 20px 30px;
        font-size: 24px;
        margin: 0 auto;
        background: #5bc0de;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .headerText {
        background: rgba(10,10,75,0.35);    }
}
@media screen and (max-width: 438px) {
    .animalShelter {
        max-width: 275px;
        margin: auto;
        padding-top: 35px;
    }
    .houseTitle {
        margin-top: 10px;
    }
}
