.channel-guide { width:100%;}
.channel-guide thead th{ border-bottom:2px solid #fff; font-size:18px; font-weight:bold; padding:5px 0;}
.channel-guide  td{ border-bottom:1px dotted #fff; font-size:16px; padding:5px 0;}
