
h1{
font-family: Capriola;
}
h2{
    font-family: Capriola;
}
h3{
    font-family: Capriola;
}
h4{
    font-family: Capriola;
}
h5{
    font-family: Capriola;
    font-size: 18px;
}
h6{
    font-family: Capriola;
}
p{
    font-size: 16px;
}
a{
    font-size: 16px;
}
.orange{
    color:#f69820
}